@import "tailwindcss";



section{
  background-image: url("./assets/background-color.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #120B1D;
}


.bg-about{
  background-image: url("./assets/bg-about.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.bg-primary-opacity40{
  background-color: rgba(31,14,49,0.4);
}
